@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

#contacto {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    padding: 40px;
    background: linear-gradient(135deg, #1c3132, #192a2c);
}

.titulo-contacto {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Archivo Black", sans-serif;
    font-size: 2rem;
    color: hsl(62, 99%, 64%);
    text-shadow: 4px 4px 8px rgba(86, 214, 253, 0.808);
}

.formulario {
    background: #b3e7fb55;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 42, 255, 0.1);
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 4px 4px rgba(0, 81, 255, 0.7);
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border: 2px solid #ddd;
    border-radius: 12px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #f39c12;
    box-shadow: 0 0 8px rgba(243, 156, 18, 0.5);
}

.form-group i {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #aaa;
}

.mapa iframe {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 4px 4px rgba(0, 98, 255, 0.7);
}


@media (min-width: 768px) and (max-width: 1023px) {
    #contacto {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    footer {
        height: 30vh;
    }
}

@media (max-width: 767px) { 

     #contacto {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .btn{
        width: 100%;
    }
}