@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
 
 #servicios {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 20px;
   background: linear-gradient(135deg, #1c3132, #192a2c);
 }

 #servicios h2 {
   font-size: 2.5rem;
   margin-bottom: 40px;
   font-family: "Archivo Black", sans-serif;
   font-size: 3rem;
   color: yellow;
   text-shadow: 4px 4px 8px rgba(255, 0, 0, 0.808);
   margin-bottom: 20px;
 }

 #servicios h2::after {
   content: "";
   width: 200px;
   height: 4px;
   background: #ff9800;
   border-radius: 2px;
 }

 .servicios-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas:
     "servicio1 servicio2 servicio3 servicio4";
   gap: 20px;
   padding: 20px;
 }

 #servicio1 {
   grid-area: servicio1;
 }

 #servicio2 {
   grid-area: servicio2;

 }

 #servicio3 {
   grid-area: servicio3;
 }

 #servicio4 {
   grid-area: servicio4;
 }

 .card img {
   height: 160px;
   padding: 20px;
   object-fit: contain;
 }

 .card:hover {
   transform: translateY(-12px) scale(1.05);
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
   animation: pulse 0.8s;
 }

 .card-body h4 {
   font-size: 1.3rem;
   margin-bottom: 10px;
   color: #ff5722;
   text-align: center;
 }

 .card-body p {
   font-size: 0.95rem;
   line-height: 1.5;
   text-align: center;
 }

 .card {
   border-radius: 20px;
   border: 1px solid transparent;
   box-shadow: 0 0 4px 4px rgba(255, 255, 0, 0.7);
 }

 .card-body {
   background-color: rgba(122, 237, 255, 0.334);
   text-align: center;
 }


 @media (min-width: 768px) and (max-width: 1023px) {
   #servicios {
     height: 100vh;
   }

   #servicios h2 {
     font-size: 3.5rem;
     margin-bottom: 60px;
   }

   .servicios-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-template-areas:
       "servicio1 servicio2" "servicio3 servicio4";
     gap: 40px;
   }
 }

 @media (max-width: 767px) {
   #servicios h2 {
     font-size: 2.5rem;
     margin-bottom: 60px;
     text-align: center;
   }

   .servicios-container {

     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas:
       "servicio1" "servicio2" "servicio3" "servicio4";
     gap: 40px;
   }
 }